.login-section {
    height: 100vh;
    background-color: #9A616D;
  }
  
  .container {
    padding-top: 5rem;
    height: 100%;
  }
  
  .card {
    border-radius: 1rem;
  }
  
  .card-img {
    border-radius: 1rem 0 0 1rem;
  }
  
  .card-body {
    padding: 4rem 5rem;
    color: black;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .logo-icon {
    color: #ff6219;
    font-size: 2rem;
    margin-right: 0.75rem;
  }
  
  .logo-text {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0;
  }
  
  .form-title {
    font-weight: normal;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 1px;
  }
  
  .form-input {
    margin-bottom: 1rem;
  }
  
  .form-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    pointer-events: none;
  }
  
  .form-control {
    padding-left: 3.5rem;
  }
  
  .form-control:focus + .form-label,
  .form-control:not(:placeholder-shown) + .form-label {
    top: 0;
    left: 1rem;
    transform: translateY(0);
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .login-button {
    margin-bottom: 1rem;
  }
  
  .forgot-password {
    color: rgba(0, 0, 0, 0.4);
  }
  
  .register-link {
    color: #393f81;
  }
  
  .text-muted {
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
  }
  
  .text-muted:last-child {
    margin-bottom: 2rem;
  }
  